/* root start */

:root{
   --blue: #7ec4f5;
   --orange: #FFC073;
   --light-orange: #FF8C00;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 100ms;
}

body{
    background: rgb(14, 14, 14);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.page{
    z-index: -10;
    max-width: 1010px;
    width: 100%;  
    height: 100%;
    margin: 0 auto;
    background: white;
    border: 1px solid rgb(76, 76, 76);
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* root end */

/* header start */


.header__nav{
    position: relative;
    z-index: 10;
    padding: 30px;
    width: 89%;
    margin-top: 70px;
    margin-left: 8.5%;
    background: var(--blue);
    box-shadow: 0 0 0 30px white; 
}

.header__nav::before{
    content: "";
    display: block;
    width: 40%;
    height: 100%;
    background: rebeccapurple;
}

.header__nav:hover{
    box-shadow: 0 0 5px 2px #222;
    transform: scale(1.1);
}

.title{
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 200;
}

.text{
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 40px;
    font-weight: 200;
}

.menu__link{
    display: inline-block;
    margin: 2px 0;
    font-size: 16px;
    line-height: 20px;
    color: black;
    transition: 300ms;
}

.menu__link:hover{
    transform: translateX(30px);
}

.header__icon{
    margin-right: 10px;
    font-size: 22px;
    color: black;
}

.github{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.github a{
    font-size: 23px;
    font-weight: 200;
}

.github_icon{
    margin-right: 10px;
    font-size: 60px;
}

/* header end */


/* aside start */

.aside{
    position: relative;
    height: 100vh;
    width: 36%;
    margin-left: -15px !important;
    margin-top: 30px;
    background: #222;
}

.aside::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: #222;
    transform: translateY(-100%);
}

.aside__block{
    display: grid;
    gap: 50px;
    padding: 20px 40px;
    color: white;
    overflow: hidden;
}

.aside__title{
    margin-bottom: 20px;
    color: var(--blue);
}

.aside__menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aside__bar{
    width: 100%;
    height: 10px;
    margin-top: 10px;
    background: white;
}

.aside__bar::after{
    display: block;
    content: "";
    left: 100px;
    width: 60%;
    height: 10px;
    background: var(--blue);
}

.second::after{
    display: block;
    content: "";
    left: 100px;
    width: 80%;
    height: 10px;
    background: var(--blue);
}

.third::after{
    display: block;
    content: "";
    left: 100px;
    width: 20%;
    height: 10px;
    background: var(--blue);
}

.menu__title{
    color: var(--blue);
}


/* aside end */



/* main start */

.main{
    display: flex;
}

.main__info{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 65%;
    padding-left: 30px;
    margin-top: 40px;
    color: #222;
}


.section__title{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
    color: var(--light-orange);
}

.section__text{
    font-size: 18px;
    line-height: 26px;
}

.line{
    width: calc(100% - 60px);
    padding-bottom: 35px;
    border-bottom: 2px solid #222;
}

.main__info-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* main end */


/* Footer start */

.footer{
    position: relative;
}

.footer__box{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 10px; 
    width: 100%;
    height: 70px;
    background: var(--blue);
    box-shadow: 0 0 2px 1px gray;
}

.footer__box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35%;
    height: 70px;
    background: var(--orange);
}

.footer__link{
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    color: black;
}

.footer__link:hover{
    border-bottom: 2px solid black;
}

.footer__logo{
    position: absolute;
    width: 140px;
    top: -57px;
    right: 20px;
}



/* Footer end */
